main {
}
h1 span, h2 span {
    display: inline;
}
h1 {
    padding: 5px;
}
li div {
  padding-left:20px;
  background:no-repeat left 5px;
}
li div a {
    word-wrap: break-word;
}
li {
    vertical-align: top;
    padding:5px;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px;
    border-color: black;
}

div.email    { background-image: url(../images/komodo-icons/email_16.png); }
div.twitter  { background-image: url(../images/komodo-icons/twitter_16.png); }
div.blog     { background-image: url(../images/komodo-icons/rss_16.png); }
div.openid   { background-image: url(../images/komodo-icons/openid_16.png); }
div.facebook { background-image: url(../images/komodo-icons/facebook_16.png); }
div.linkedin { background-image: url(../images/komodo-icons/linkedin_16.png); }
div.gvoice   { background-image: url(../images/komodo-icons/google_voice_16.png); }
div.gtalk    { background-image: url(../images/komodo-icons/googletalk_16.png); }
div.aim    { background-image: url(../images/komodo-icons/aim_16.png); }
div.msn    { background-image: url(../images/komodo-icons/windows_16.png); }
div.yahoo    { background-image: url(../images/komodo-icons/yahoo_16.png); }
div.delicious    { background-image: url(../images/komodo-icons/delicious_16.png); }
div.flickr    { background-image: url(../images/komodo-icons/flickr_16.png); }
div.lastfm    { background-image: url(../images/komodo-icons/lastfm_16.png); }
div.pandora    { background-image: url(../images/komodo-icons/pandora_16.png); }
div.github    { background-image: url(../images/komodo-icons/github_16.png); }
div.brightkite    { background-image: url(../images/komodo-icons/brightkite_16.png); }
div.wishlistr    { background-image: url(../images/komodo-icons/wishlistr_16.png); }
div.claimid    { background-image: url(../images/komodo-icons/claimid_16.png); }
div.chimp { background-image: url(../images/komodo-icons/chimp_16.png); }
div.friendfeed { background-image: url(../images/komodo-icons/friendfeed_16.png); }
div.plaxo { background-image: url(../images/komodo-icons/plaxo_16.png); }
div.getsatisfaction { background-image: url(../images/komodo-icons/getsatisfaction_16.png); }
div.disqus { background-image: url(../images/komodo-icons/disqus_16.png); }
div.greader { background-image: url(../images/komodo-icons/googlereader_16.png); }
div.gprofile { background-image: url(../images/komodo-icons/google_16.png); }
div.gwave { background-image: url(../images/komodo-icons/google_wave_16.png); }
div.technorati { background-image: url(../images/komodo-icons/technorati_16.png); }
div.userstyles { background-image: url(../images/komodo-icons/userstyles_16.png); }
div.threeam { background-image: url(../images/komodo-icons/threeam_16.png); }
div.netflix { background-image: url(../images/komodo-icons/netflix_16.png); }
div.jqmeetup { background-image: url(../images/komodo-icons/meetup_16.png); }
div.slideshare { background-image: url(../images/komodo-icons/slideshare_16.png); }
div.wordpress { background-image: url(../images/komodo-icons/wordpress_16.png); }
div.blogger { background-image: url(../images/komodo-icons/blogger_16.png); }
div.youtube { background-image: url(../images/komodo-icons/youtube_16.png); }
div.upcoming { background-image: url(../images/komodo-icons/upcoming_16.png); }
div.identica { background-image: url(../images/komodo-icons/identica_16.png); }
div.magnolia { background-image: url(../images/komodo-icons/magnolia_16.png); }
